{% extends "layout.html" %}

{% block content %}
    <h1 class="mt-4">Research an article on seaRcH.D</h1>
        <p>Don't worry about your request being too long. Our database and query services will take care of the rest.</p>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control from-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}

            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

        </form>
{% endblock content %}