{% extends "layout.html" %}

{% block content %}

    <h3>Evaluate your PDF here</h3>
    <p>A JSON will serve as an output responses</p>

    <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.pdf.label(class="form-control-label")  }}
            {{ form.pdf(class="form-control-file") }}

            {% if form.pdf.errors %}
                {% for error in form.pdf.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>

    <p>Want to contribute to our database, go <a href="{{ url_for('get_articles') }}">here</a></p>
{% endblock content %}